// Brand-colors
$blue-normal: #2DC7ED;
$blue-dark: #15AED4;
$blue-light: #4DDCFF;

// Neutral-colors
$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

// Gray Scale
$gray-1: #3E3F40;
$gray-2: #4E4E50;
$gray-3: #5D5E60;
$gray-4: #6D6E70;
$gray-5: #7C7D80;
$gray-6: #8D8E90;
$gray-7: #A5A6A8;


.color-blue{
    color: $blue-normal;
}