h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 16px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}