*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';

body{
    width: 100%;

    background-color: #050607;
}

@import 'sass/layout';